<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <p th:text="${user.getName() + ' ' + user.getSurname() + ', ' + user.getAge()}">VALUE</p>
    <p th:text="${'Age: ' + user.getAge()}">VALUE</p>
    <p th:text="${'Id: ' + user.getId()}">VALUE</p>

    <form th:method="GET" th:action="@{/{id}/edit(id = ${user.getId()})}">
        <input type="submit" value="Edit">
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/{id}(id = ${user.getId()})}">
        <input type="submit" value="Delete User">
    </form>
</body>
</html>